
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <style>
        #wrap {
            margin: 0 auto;
        }
        #chatbox {
            width: 20em;
            height: 20em;
            border: 1px solid black;
            overflow: auto;
            margin: 1em 0;
        }
        #userInput {
            width: 19.7em;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <h1>&real;&Theta;&Zeta; &hearts; &Beta;&theta;&Tau; <span id="current_chat_id"></span> </h1>
        <p> Rasa based Chatbot</p>

        <input type="hidden" id="chat_id" value="">

        <button id="startChatButton">Start Chat</button> 
        <button id="endChatButton">End Chat</button>
        <br><br>
        <div id="chatbox">
            <!-- Chat messages will be added here -->
        </div>
        <input id="userInput" type="text" />
        <button id="sendButton">Send</button>
    </div>    
    <script src="{% static 'chatbot/chat.js' %}"></script>
</body>
</html>
