{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <style>
        #chatbox {
            width: 300px;
            height: 400px;
            border: 1px solid black;
            overflow: auto;
        }
        #userInput {
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>A chatbot is not Generative AI! </h1>
    <p> Rasa is simply the framework (why need one if you can just use an API? - oh yeah security) for other engines like Generative AI - ChatGPT</p>

    <div id="chatbox">
        <!-- Chat messages will be added here -->
    </div>
    <input id="userInput" type="text" />
    <button id="sendButton">Send</button>

    <script src="{% static 'chatbot/chat.js' %}"></script>

    <h3>Priorities</h3>
    <ol>
        <li>Website - Fix the base html</li>
        <li>Chatbot MVP for a simple sale of diet product - AgentGPT can learn from the content of the website</li>
        <li>NoCode Landing page - implement GrapeJS demo</li>
        <li>NoCode Landing page - create a template (start with one!)</li>
    </ol>
</body>
</html>
