
{% extends "chatbot/base.html" %}
{% load static %}

{% block title %}ROS Chatbot{% endblock %}

{% block content %}

<div id="wrap">
    <h1 class="logo">&real;&Theta;&Zeta; &hearts; &Beta;&theta;&Tau; <span id="current_chat_id"></span> </h1>
    <p> Rasa based Chatbot - Example Chat with button</p>

    <input type="hidden" id="chat_id" value="">

    <button id="startChatButton">Start Chat</button> 
    <button id="endChatButton">End Chat</button>
    <br><br>
    <div id="chatbox">
        <!-- Chat messages will be added here -->
    </div>
    <input id="userInput" type="text" />
    <button id="sendButton">Send</button>
</div> 

<script src="{% static 'chatbot/js/chat.js' %}"></script>
<script type="text/javascript">
    const chat_data = {{ chat_data|safe|default:"null" }};
    const chatid = {{ chat_id|safe|default:"null" }};

    // Check if chat_data is available and populate
    if (chat_data && Array.isArray(chat_data)) {
        document.getElementById('current_chat_id').innerHTML = chatid
        console.log('populating chat_data', chat_data);
        if (chat_data.length > 0 ) {
            populate_chat(chat_data);
        }
        else {
            console.log('Nothing to show for.... ');
        }
    }
</script>

{% endblock %}
